* {
  margin: 0;
  padding: 0;
}




form {
  flex: 0.5;
  padding: 1rem;
  /* background-color: white; */
  border-radius: 20px;
  margin-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  /* filter: drop-shadow(0 0 0.75rem #000); */

  position: sticky;
  top: 30%;
  left: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  position: relative;
  
}

/* .button-container {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
} */

/* .button-container button {
  margin-left: 0.5rem;
} */

#image {
  visibility: hidden;
}

.image-input {
  background-color: rgb(128, 128, 128, 0.1);
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  height: 12rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #1a8efd;
}
/* 
button {
  background-color: #1a8efd;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} */

.text-input {
  background-color: rgb(128, 128, 128, 0.1);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 0.5rem;
  width: 100%;
  height: 12rem;
  resize: none;
  color: black;
  border-color: #1a8efd;
  outline: none;
}
.text-div {
  /* padding: 0.5rem; */
  width: 100%;
}

.display-container {
  flex: 2;
  /* background-color: rgb(128, 128, 128, 0.1); */
  opacity: 0.9;
  height: 95%;
  margin-top: 1rem;
  margin-bottom: auto;
  border-radius: 20px;
  padding: 1rem;
}

/* .gallery-container {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  width: 95%;
  height: 100%;
  background: transparent;
  padding-inline: 1rem;
  margin-inline: auto;
} */

h2 {
  font-size: 30px;
  padding-top: 1rem;
  line-height: 1;
  text-align: center;
}

h4 {
  font-size: 20px;
  padding-bottom: 1rem;
  line-height: 1;
}

/* .image-display {
  flex:2;
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: masonry;
  background-color: rgb(128, 128, 128, 0.3);
  margin-top: 1rem;
  border-radius: 20px;
  width: fit-content;
  overflow-y: scroll;
  padding-bottom: 2rem;
  new styles to hide scrollbar
  scrollbar-width: none; /* For Firefox */
  /* -ms-overflow-style: none; */



.image-display::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.image-hover{
  overflow: hidden;
}

.image-hover img:hover {
  transform:scale(1.2);
  position: relative;

}

.image-hover img {
  transition: transform 0.5s;
  /* display: block; */
  /* grid-template-rows: 1fr auto; */
}


.image-input img {
  max-width: 100%; /* Adjust as needed for image size */
  max-height: 200px; /* Adjust as needed for image height */
  border: 1px solid #1a8efd; /* Add a border */
  border-radius: 20px; /* Add rounded corners */
}




.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  /* height: 80%; */
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Overlay effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Ensure modal appears on top of other elements */
}

.modal-content {
  background-color: rgb(221, 160, 221, 0.2);
  border: 2px solid #1a8efd;
  padding: 20px;
  height: 90%;
  border-radius: 5px; 
  max-height: fit-content; 
  max-width: 500px; /* Adjust as needed */
}